html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
    font-weight: inherit;
    padding: 0;
    margin: 0;
    border: 0;
}

:focus {
    outline: 0;
}

body {
    background: white;
    color: black;
    font-family:"Segoe UI",
    "Lucida Grande",
    Helvetica,
    Arial,
    "Microsoft YaHei",
    FreeSans,
    Arimo,
    "Droid Sans",
    "wenquanyi micro hei",
    "Hiragino Sans GB",
    "Hiragino Sans GB W3",
    FontVsoicon,
    sans-serif;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: """";
}
.clearfix:after {content: ""; display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.fl {
    float: left
}

.fr {
    float: right
}
.clear {
    clear: both;
}