<p>about</p>
<div ng-controller="aboutCtrl">
   <div ng-repeat="msg in tableDate">{{msg.msg_name}}</div>
   <div ng-repeat="msg in tableDate">{{msg.msg.short1}}</div>
   <div ng-repeat="msg in tableDate">{{msg.msg.short2}}</div>
   <div ng-repeat="msg in tableDate">{{msg.msg.short3}}</div>
    <table width="100%">
       <tr>
           <th>ID</th>
           <th>NAME</th>
           <th>AGE</th>
       </tr>
        <tr ng-repeat="tb in tableDate">
            <td>{{tb.id}}</td>
            <td><a ng-href="#/about/{{tb.id}}">{{tb.name}}</a></td>
            <td>{{tb.age}}</td>
        </tr>
    </table>

</div>
